<h1><%= @user.username %></h1>

<h2>Games:</h2>
<% @user.games.each do |game| %>
    <a href="/games/<%= game.slug %>"><h3><%= game.title %></h3></a>
    <% @user.achievements.each do |achievement| %>
        <ol>
            <a href="/achievements/<%= achievement.id %>"><li><%= achievement.name if achievement.game.id == game.id %></li></a>
            <p><%= achievement.description if achievement.game.id == game.id %></p>
        </ol>
    <% end %>
<% end %>
<form action="/games/new" method="get">
    <input type="submit" value="New Game">
</form>
<form action="/achievements/new" method="get">
    <input type="submit" value="New Achievement">
</form>